/.github                    export-ignore
/.phan                      export-ignore
/tests                      export-ignore
/.cz.yaml                   export-ignore
/.gitattributes             export-ignore
/.gitignore                 export-ignore
/.pre-commit-config.yaml    export-ignore
/composer.json              export-ignore
/composer.lock              export-ignore
/CHANGELOG.md               export-ignore
/phpcs.xml                  export-ignore
/phpunit.xml                export-ignore
/phpunit.dev.xml            export-ignore
/README.md                  export-ignore
/acceptance-test-results.md export-ignore
/phpdoc.xml                 export-ignore

*.php diff=php
