# Acceptance Test Result

## Csrf Protection (Phpolar\CsrfProtection\Http\CsrfProtection)
- [x] Shall prevent a CSRF attack when token does not exist in POST request
- [x] Shall prevent a CSRF attack when token does not exist in PUT request
- [x] Shall prevent a CSRF attack when token does not exist in post request
- [x] Shall prevent a CSRF attack when token does not exist in put request
- [x] Shall prevent a CSRF attack when token is expired in POST request
- [x] Shall prevent a CSRF attack when token is expired in post request
- [x] Shall prevent a CSRF attack when token is expired in PUT request
- [x] Shall prevent a CSRF attack when token is expired in put request
- [x] Shall prevent a CSRF attack when token is expired in GET request
- [x] Shall prevent a CSRF attack when token is expired in get request
- [x] Shall allow request when token is valid in POST request
- [x] Shall allow request when token is valid in post request
- [x] Shall allow request when token is valid in GET request
- [x] Shall allow request when token is valid in get request

## Memory Usage (Phpolar\CsrfProtection\MemoryUsage)
- [x] Memory usage shall be below 245000 bytes

## Project Size (Phpolar\CsrfProtection\ProjectSize)
- [x] Source code total size shall be below 9200 bytes
